@using OptimizelyCommerceProject.Core.Features.Components.Header

<!DOCTYPE html>
@* TODO add lang to root html tag *@
<html>
<head>
</head>

<body>
      @(await Component.InvokeAsync<HeaderViewComponent>())
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/respond.js"></script>
    <script src="~/Scripts/html5shiv.js"></script>
    <script src="~/Scripts/site.js"></script>
</body>
</html>
